/* external css */
/* elemen selector */

/* bintang untuk reset default margin dan padding untuk semua elemen pada html */
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #e3c770;
    font-family: Verdana;

    /* ini komentar */

    /* text-align : center; */
}

ul{
    /* menghilangkan bullet ul */
    list-style-type: none;
    background-color: #ffae6d;
    overflow: hidden;
}

li{
    float: left;
    
}

li a{
    display: block;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-weight: bold;
}

li a:hover{
    background-color:aliceblue;
}
.txt-center{
    text-align: center;
}

.bg-primary {
    background-color: rgb(184, 187, 21);
    /* border-radius: 15px; */
    /* top-left | top-right | bottom-right | bottom-left*/
    border-radius: 0px 0px 15px 15px;

}

.pb-1 {
    padding-bottom: 1px;
}

.mb-5{
    margin-bottom: 5px;
}